/*div{
    border: 1px solid red;
    box-sizing:border-box;
}*/
.header{
    position: relative;
    font-size: 20px;
    font-family: sans-serif;
    top: 0;
    opacity: 100%;
    width: 100%;
    /*border: 1px solid blue;*/
    height: 100px;
    line-height: 90px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    background-color: white;
    z-index: 1;
}

.logo_left{
    float: left;
    width: 25%;
    overflow: auto;
}
.logo_img{
    display: block;
    width: 70%;
    margin: auto;
}

.cart_right{
    float: left;
    width: 25%;
}
.cart_div{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.icon{
    width: 22px;
    height: 22px;
    padding-left: 10px;
}
.account{
    text-decoration: none;
    color: #6D8C7D;
}

.menu_center{
    position: relative;
    float: left;
    width: 50%;
}
.menu_ul{
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu_li{
    display: inline;
}
.menu_li a{
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 0;
    color: #6D8C7D;
}
.menu_li a:hover, .account:hover{
    color: red;
}
/*body*/
.body {
    margin-top: 0;
    background-color: #6D8C7D;
    font-family: Arial, sans-serif;
    width: 100%;
}
.text_le {
    width: 729px;
    height: 427px;
    position: relative;
}
.text_big {
    position: absolute;
    left: 120px;
    top: 20px;
    font-size: 50px;    
    line-height: 0px;
    color: #edeff0;
}
.text_sm {
    position: absolute;
    left: 120px;
    top: 320px;
    font-size: 29px;
    color: #fffff7;
}
.img_re {
    position: absolute;
    top: 0;
    left: 600px;
}
/*floor2*/
.f2 {
    position: relative;
}
.text_bra {
    position: absolute;
    top: 60px;
    left: 500px;
    font-size: 85px;
    line-height: 0.1em;
    letter-spacing: 0.42em;
    color: #c9d9d1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#b_rm {
    position: absolute;
    top: 350px;
    left: 580px;
    text-decoration: none;
    background-color: #8a918a;
    color: white;
    font-size: 20px;
    padding: 12px 30px;
    transition: background 0.5s;
}
#b_rm:hover {
    background-color: #80a6a3;
}
/*f3*/
.f3 {
    position: relative;
}
#bal_b {
    position: absolute;
    top: 50px;
    left: 494px;
    text-decoration: none;
    background-color: #9fb3a9;
    color: white;
    font-size: 45px;
    letter-spacing: 0.2em;
    padding: 12px 30px;
    transition: background 0.5s;
}
#bal_b:hover {
    background-color: #b9c9d1;
}
.f3_ima {
    position: relative;
    display: flex;
    padding-left: 25px;
}
.f3_img {
    margin-top: 30px;
    padding-top: 206px;
    padding-left: 70px;
}

.nf3_name {
    padding: 50px 0;
    color: black;
    font-size: 30px;
    font-weight: 300;
}
/*footer*/
.footer {
    margin-top: 0px;
    border: 1;
    background-color: #9fb3a9;
    padding-top: 12px;
    font-size: 1.2rem;
}.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid_column-5 {
    padding-left: 5px;
    padding-right: 15px;
    width: 43%;
}
.grid_column-4 {
    padding-left: 15px;
    padding-right: 5px;
    width: 25%;
}
.grid_column-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.footer-list {
    padding-left: 0;
}
.footer-item {
    list-style: none;
}
.footer-list2 {
    padding-left: 0px;
}
.footer_item2 {
    list-style: none;
}
.footer_item-link {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
}
.footer-text {
    font-size: 15px;
    color: white;
}